/* Section */
.title {
  border-left: 0.3rem solid orange;
  padding-left: 0.6rem;
}

.contents {
  padding: 1rem;
}

.section li {
  margin-bottom: 1rem;
}



/* Carear */
.carear-box {
  padding: 1rem;
}

.carear-name {
  font-size: 1.5rem;
}

.carear-duration {
  float: right;
}



/* Project */
.project-box {
  padding: 1rem;
}

.project-name {
  font-size: 1.5rem;
}

.project-link {
  float: right;
}

.project-link>a {
  margin: 0 0.2rem 0 0.2rem;
}

.skill-box {
  margin: 0.2rem;
  border-radius: 0.2rem;
  padding: 0.3rem;
}